<h1>Venues</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Publication Count</th>
    </tr>
  </thead>
  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= link_to venue.name, venue_path(venue) %></td>
        <td><%= venue.publications.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<% content_for :sb do %>
	<% if authorized? %>
		<h2>Actions</h2>
		<p>
			<%= link_to 'New Venue', new_venue_path %>
		</p>
	<% end %>
<% end %>
