<p>
	You can use
	<%= link_to "Textile", "http://blog.thought-mesh.net/static/docs/mtmanual_textile2.html", :target => "_new" %>
	for formatting.
</p>

<ul class="bulletless">
	<li><code>__italics__</code> &nbsp; <i>italics</i></li>
	<li><code>*bold*</code> &nbsp; <b>bold</b></li>
	<li>
		<code>"link":http://google.com</code> &nbsp; <a href="http://google.com">link</a>
		<hr class="space" />
	</li>
	<li>
		Headings (leave a blank line after)<br/>
		<code>
		<ul class="bulletless" style="margin-bottom:5px;line-height:1.1em;">
			<li>h1. 1st-level heading</li>
			<li>h2. 2nd-level heading</li>
			<li>h3. 3rd-level heading</li>
		</ul>
		</code>
		<hr class="space" />
	</li>
	<li>
		Unordered list<br/>
		<code>
		<ul class="bulletless" style="margin-bottom:5px;line-height:1.1em;">
			<li>* an item</li>
			<li>* another item</li>
			<li>** second level</li>
		</ul>
		</code>
		<hr class="space" />
	</li>
	<li>
		Ordered list<br/>
		<code>
		<ul class="bulletless" style="margin-bottom:5px;line-height:1.1em;">
			<li># an item</li>
			<li># another item</li>
			<li>## second level</li>
		</ul>
		</code>
	</li>
</ul>